* {
  margin: 0;
  padding: 0;
}

.App {
}


th, td {
  padding: 10px;
  border: 1px solid lightgray;
}
td input {
  width: 100%;
  border: 0;
}
td i {
  cursor: pointer;
}
.img-column {
  width: 10%;
}

.addAccountHeading {
  margin: 100px 0;
}
